DATABASE_URL=postgresql://postgres:VZcPWBwFocmltzskTjSlzHddxLoqCnHr@zephyr.proxy.rlwy.net:20123/railway
ALLOWED_ORIGIN=http://localhost:5173
PORT=8787
IP_SALT=476c575c86bca1ab8ee760bbafb07be88d8597b49df2f9402fb6bb5b2ad27350
